@model TestForEventRegister.tEventRegister

@{
    ViewBag.Title = "SetRegistForm";
}
<head>
    <link rel="stylesheet" href="../style/event_B.css">
    <style>
        * {
            margin: 0px;
            padding: 0px;
            flex: none;
        }

        .zone {
            /*width: 600px;*/
            border: 1px solid gray;
            margin: 20px;
            padding: 5px 30px 30px 30px;
        }

        .formitem {
            margin-bottom: 5px;
            margin-left: 30px;
            border:1px solid gray;
            border-radius:10px;
            max-width:100px
        }

        .zone h3 {
            margin-top: 0px;
            margin-bottom: 15px;
        }
    </style>
</head>

<h2>設定報名表</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div style=" display: -ms-flexbox ;  display: flex ;">

        <div class="zone col-lg-5 signform border">
            <h3> 客製化報名表</h3>

            <div class="form-group">
                <label for="enentNo" hidd>活動編號 </label>
                <input type="text" class="form-control" id="enentNo" placeholder="" value="8">
            </div>

            <div class="form-group">
                <label for="idName">戶號<span class="text-danger">*</span> </label>
                <input type="text" class="form-control" id="iduserid" placeholder="">
            </div>

            <div class="form-group">
                <label for="idName">報名人數<span class="text-danger">*</span> </label>
                <select class="form-control">
                    <option id="ppl1">1</option>
                    <option id="ppl2">2</option>
                    <option id="ppl3">3</option>
                    <option id="ppl4">4</option>
                    <option id="ppl5">5</option>
                    <option id="ppl6">6</option>
                </select>
            </div>

            <div class="form-group">
                <label for="idName">姓名<span class="text-danger">*</span> </label>
                <input type="text" class="form-control" id="idName" placeholder="">
            </div>
            <div class="form-group">
                <label for="idPhone">行動電話 <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="idPhone" placeholder="">
            </div>

        </div>

        <div class="zone col-lg-5 signform border ">
            <h3> 拖拉欄位組件</h3>
            <div class="ml-1">
                <div style="cursor:pointer" draggable="true" class="formitem " id="email"> <i class="fa fa-plus"></i> + 電子郵件</div>
                <div style="cursor:pointer" draggable="true" class="formitem " id="idnumber"> <i class="fa fa-plus"></i>+ 身分證字號</div>
                <div style="cursor:pointer" draggable="true" class="formitem " id="birthday"> <i class="fa fa-plus"></i>+ 出生年月日</div>
                <div style="cursor:pointer" draggable="true" class="formitem " id="gender"> <i class="fa fa-plus"></i>+ 性別</div>
                <div style="cursor:pointer" draggable="true" class="formitem " id="veganornot"> <i class="fa fa-plus"></i>+ 葷/素食</div>
                <div style="cursor:pointer" draggable="true" class="formitem " id="education"> <i class="fa fa-plus"></i>+ 教育程度</div>
                <div style="cursor:pointer" draggable="true" class="formitem " id="marrigement"> <i class="fa fa-plus"></i>+ 婚姻狀況</div>
                <div style="cursor:pointer" draggable="true" class="formitem " id="other"> <i class="fa fa-plus"></i>+ 自訂</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 ">            
            <input type="submit" value="確定新增" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/js/setRegisForm.js"></script>