@model TestForEventRegister.tEventSetRegister

@{
    ViewBag.Title = "SetRegistForm2";
}
<style>
    body {
        font-family: 微軟正黑體;
    }

    .formitem {
        margin-bottom: 5px;
        margin-left: 30px;
        padding:5px;
        border: 1px solid gray;
        border-radius: 3px;
        max-width: 130px;
        background-color:gainsboro;
    }

    .mt5{
        margin-top:15px;
    }

    .edittxt{
        color:blue;
        font-size:0.8rem;        
    }
    .edittxt:hover{
        color:darkblue;
        cursor:pointer;
    }
</style>
<h2>設定報名資訊</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">

        <div class="col-lg-7 form-horizontal zone">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            

            <div class="form-group" >                
                <div class="control-label col-md-2"> 活動編號</div>
                <div class="col-md-10">
                    <input  type="text" name="1"  class="form-control"/>
                 </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2"> 戶號</div>
                <div class="col-md-10">
                    <input type="text" name="1" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2"> 參加人數</div>
                <div class="col-md-10">
                    <input type="text" name="1" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2"> 姓名</div>
                <div class="col-md-10">
                    <input type="text" name="1"  class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2"> 連絡電話</div> 
                <div class="col-md-10">
                    <input type="text" name="1"  class="form-control" />

                </div>
            </div>

            <div class="form-group" id="email" style="display:none" >
                <div class="control-label col-md-2"> 電子郵件</div>
                <div class="col-md-10">
                    <input type="text"  class="form-control" />
                    <input type="hidden" name="email_v" id="email_v" value="0" />
                </div>
            </div>

            <div class="form-group" id="gender" style="display:none">
                <div class="control-label col-md-2"> 性別</div>
                <div class="col-md-10">
                    <input type="text"  class="form-control" />
                    <input type="hidden" name="gender_v" id="gender_v" value="0" />
                </div>
            </div>

            <div class="form-group" id="birthday" style="display:none">
                <div class="control-label col-md-2"> 出生年月日</div>
                <div class="col-md-10">
                    <input type="text"  class="form-control" />
                    <input type="hidden" name="birthday_v" id="birthday_v" value="0" />
                </div>
            </div>

            <div class="form-group" id="idnumber" style="display:none">
                <div class="control-label col-md-2">身份證字號</div>
                <div class="col-md-10">
                    <input type="text"  class="form-control" />
                    <input type="hidden" name="idnumber_v" id="idnumber_v" value="0" />
                </div>
            </div>

            <div class="form-group" id="occupation" style="display:none">
                <div class="control-label col-md-2"> 職業</div>
                <div class="col-md-10">
                    <input type="text"  class="form-control" />
                    <input type="hidden" name="occupation_v" id="occupation_v" value="0" />
                </div>
            </div>

            <div class="form-group" id="veganornot" style="display:none" value="0" name="veganornot_v">
                <div class="control-label col-md-2"> 葷食/素食</div>
                <div class="col-md-10">
                    <input type="text" class="form-control" />
                    <input type="hidden" name="veganornot_v" id="veganornot_v" value="0" />
                </div>
            </div>

            <div class="form-group" id="other1" style="display:none">
                <div class="control-label col-md-2"><label class="edittxt">編輯</label>  自訂欄位</div>
                <div class="col-md-10">
                    <input type="text"  class="form-control" />
                    <input type="hidden" name="other1_v" id="other1_v" value="0" />
                </div>
            </div>

            <div class="form-group" id="other2" style="display:none">
                <div class="control-label col-md-2"> 自訂欄位</div> 
                <div class="col-md-10">
                    <input type="text"  class="form-control" />
                    <input type="hidden" name="other2_v" id="other2_v" value="0" />
                </div>
            </div>

            <div class="form-group" id="other3" style="display:none">
                <div class="control-label col-md-2"> 自訂欄位</div>
                <div class="col-md-10">
                    <input type="text" class="form-control" />
                    <input type="hidden" name="other3_v"  id="other3_v"  value="0" />
                </div>
            </div>

            <div class="form-group" id="other4" style="display:none">
                <div class="control-label col-md-2"> 自訂欄位</div>
                <div class="col-md-10">
                    <input type="text"  class="form-control" />
                    <input type="hidden" name="other4_v" id="other4_v" value="0" />
                </div>
            </div>

            <div class="form-group" id="other5" style="display:none">
                <div class="control-label col-md-2"> 自訂欄位</div>
                <div class="col-md-10">
                    <input type="text"  class="form-control" />
                    <input type="hidden" name="other5_v" id="other5_v" value="0" />
                </div>
            </div>

            <div class="form-group" style="margin-top:30px">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="確定新增" class="btn btn-default" />
                </div>
            </div>
        </div>

        <div class="col-lg-4 form-horizontal zone">
            <hr />

            <div class="ml-1">
                <div style="cursor:pointer" draggable="true" class="formitem " id="emailbtn"> <i class="fa fa-plus"></i> + 電子郵件</div>
                <div style="cursor:pointer" draggable="true" class="formitem " id="genderbtn"> <i class="fa fa-plus"></i>+ 性別</div>
                <div style="cursor:pointer" draggable="true" class="formitem " id="birthdaybtn"> <i class="fa fa-plus"></i>+ 出生年月日</div>
                <div style="cursor:pointer" draggable="true" class="formitem " id="idnumberbtn"> <i class="fa fa-plus"></i>+ 身分證字號</div>
                <div style="cursor:pointer" draggable="true" class="formitem " id="occupationbtn"> <i class="fa fa-plus"></i> + 職業</div>
                <div style="cursor:pointer" draggable="true" class="formitem " id="veganornotbtn"> <i class="fa fa-plus"></i>+ 葷/素食</div>
                <div style="cursor:pointer" draggable="true" class="formitem " id="otherbtn"> <i class="fa fa-plus"></i>+ 自訂</div>
            </div>


        </div>
    </div>
}

<div>
    @Html.ActionLink("取消，回主選單", "Event_B")
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script src="~/js/setRegisForm2.js"></script>

<script>
    $("#veganornot_v").attr("value", "1");
    console.log(document.getElementById("veganornot_v").value);
</script>